<div class="row">
  <aside class="col-sm-4">
   <%= render 'users/card' %>
  </aside>
  <div class="col-sm-8">
    <%= render 'users/tabs' %>
    <%= render 'microposts/microposts', microposts: @microposts %>
  </div>
</div>
